<h3>Top Heroes</h3>
<div class="row">
  <a *ngFor="let hero of heroes" class="col-3" [routerLink]="['/detail', hero.id]" >
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
