<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="https://angular.io/assets/images/logos/angular/angular.svg">
</div>
<h2 style="text-align: center;">Aplicação <i>{{nome}}</i></h2>
