<form [formGroup]="form">
  <div *ngIf="heroName != null">
    <h2>{{heroName}} details!</h2>

    <div class="form-group">
      <label>id: </label>
      <input class="form-control" readonly formControlName="id">
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" formControlName="name" placeholder="name">
    </div>

    <div class="form-group">
      <label>First seen date</label>
      <input-date class="form-control" formControlName="firstSeenDate"></input-date>
    </div>

    <button type="button" (click)="goBack()">Back</button>
    <button type="submit" (click)="save()">Save</button>
  </div>
</form>
