<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let colaborador of lista; let i = index">
      <td>{{colaborador.nomeExibicao}}</td>
      <td>{{colaborador.tipo}}</td>
      <td>
        <button (click)="remover(i)">-</button>
      </td>
    </tr>
  </tbody>
</table>